.app {
  width: 500px;
  position: absolute;
  top: 80px;
  left: 50%;
  transform: translate(-50%, 0);

  .examples {
    position: absolute;
    top: -30px;

    .example {
      cursor: pointer;
      display: inline-block;

      color: lightgrey;
      border: 1px solid lightgrey;
      border-radius: 50%;
      width: 20px;
      height: 20px;
      text-align: center;
      line-height: 21px;
      font-size: 12px;

      &.selected {
        color: white;
        background-color: lightgrey;
      }

      &:hover {
        border-color: steelblue;
        color: white;
        background-color: steelblue;
      }

      &:not(:first-child) {
        margin-left: 4px;
      }
    }
  }

  .info {
    position: absolute;
    top: 3px;
    left: 3px;
    font-size: 10px;
    user-select: none;
  }

  svg.overlay {
    border: 1px solid steelblue;
    position: absolute;
    top: -1px;
    left: -1px;

    .event-target {
      fill: white;
      opacity: 10e-6;
    }
  }

  .detail {
    position: absolute;
    top: 0px;
    right: -10px;
    transform: translate(100%, 0);
  }

  .controls {
    display: flex;
    align-items: center;
    user-select: none;

    .spacer {
      flex: 1;
    }

    button {

      &:not(:first-child) {
        margin-left: 5px;
      }

      &:not(:last-child) {
        margin-right: 5px;
      }
    }
  }
}
